<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>client (hl2mp).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>mathlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>raytrace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>server (hl2mp).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>serverplugin_empty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>shaders (hl2mp).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tier1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>vgui_controls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0000000000101D096B107800</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0000000000101D096B107E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0000000000101D096B121C00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0000000000101D096B130C00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0000000000101D096B131000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0000000000101D096B131400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0000000000101D096B131800</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0000000000101D096B132C00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0000000000101D0A00126CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
